<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- A simple bean definition -->
   <bean id = "college" class = "com.java.pojo.College" >
   <property name="cId" value="121"></property>
   <property name="cName" value="SNDT"></property>
   <property name="dept" ref="depart"></property>
   </bean>

      <!-- A simple bean definition -->
   <bean id = "depart" class = "com.java.pojo.Department">
   <property name="depId" value="6666"></property>
   <property name="depName" value="Xyz"></property>
   </bean>
      
</beans>
